html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Maryo";
  src: url("../abc/Maryo.eot");
  src: url("../abc/Maryo.eot?#iefix") format("embedded-opentype"), url("../abc/Maryo.woff2") format("woff2"), url("../abc/Maryo.woff") format("woff"), url("../abc/Maryo.ttf") format("truetype"), url("../abc/Maryo.svg#../abc/Maryo") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.a {
  margin: 2.6666666667vw;
  font-size: 0.625em;
  width: 0.625rem;
  height: 7.5pt;
}

.b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10;
}
.b:nth-of-type(4n + 0) {
  margin-right: 0;
}
@media screen and (max-width: 200px) {
  .b {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .b {
    display: block;
  }
}

.c {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-indent: -10px;
  margin-left: 10px;
}
.c::before {
  content: "##";
  position: absolute;
  top: 50%;
  left: 10px;
}
.c::after {
  content: "##";
  position: absolute;
  top: 50%;
  left: 10px;
}
.c h1 {
  font-family: "Family";
  font-weight: 300;
}
.c p {
  font-family: "Family";
  font-weight: 300;
}