@import './Variable.scss';

@function tovw($font){
	@return ($font / $vw-viewport) * 100 + vw
};
@function torem($font){
	@return ($font / $baseSize) + rem
};
@function toem($font){
	@return ($font / $baseSize) + em
};
@function topt($font){
	@return ($font * 0.75) + pt
};
@mixin listE($mRight, $item){
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	margin-right: $mRight;
	&:nth-of-type(#{$item}n + 0){
		margin-right:0
	}
}; 
@mixin toMax($mobile) {     
	@media screen and (max-width: #{$mobile}px) {
		@content
	} 
};
@mixin toMin($mobile) {     
	@media screen and (min-width: #{$mobile}px) {
		@content
	} 
};
@mixin beforeTL($top,$left){ 
	&::before{
		@content; 
		position: absolute; 
		top: $top;
		left: $left; 
	}
}
@mixin beforeTR($top,$right){
	position: relative;
	&::before{
		@content; 
		position: absolute; 
		top: $top;
		right: $right; 
	}
}
@mixin beforeBL($bottom,$left){
	position: relative;
	&::before{
		@content; 
		position: absolute; 
		bottom: $bottom;
		left: $left; 
	}
}
@mixin beforeBR($bottom,$right){
	position: relative;
	&::before{
		@content; 
		position: absolute; 
		bottom: $bottom;
		right: $right; 
	}
}
@mixin afterTL($top,$left){
	position: relative;
	&::after{
		@content; 
		position: absolute; 
		top: $top;
		left: $left; 
	}
}
@mixin afterTR($top,$right){
	position: relative;
	&::after{
		@content; 
		position: absolute; 
		top: $top;
		right: $right; 
	}
}
@mixin afterBL($bottom,$left){
	position: relative;
	&::after{
		@content; 
		position: absolute; 
		bottom: $bottom;
		left: $left; 
	}
}
@mixin afterBR($bottom,$right){
	position: relative;
	&::after{
		@content; 
		position: absolute; 
		bottom: $bottom;
		right: $right; 
	}
}
@mixin centerX{
	left: 50%;
	transform: translateX(-50%);
} 
@mixin center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin centerX{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerY{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
} 
@mixin indent(){
	text-indent: -1em;
	margin-left: 1em;
}